.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.names-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.names {
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  list-style: none;
}
.names:hover {
  padding: 0.7rem 1.2rem;
}
.names-m {
  background-color: lightgreen;
  border-radius: 25px;
}
.names-m:hover {
  box-shadow: 5px 5px 18px lightgreen;
}
.names-f {
  background-color: lightgoldenrodyellow;
  border-radius: 25px;
}
.names-f:hover {
  box-shadow: 5px 5px 18px lightgoldenrodyellow;
}
.search-bar {
  padding: 1rem;
  font-size: 1.5rem;
}
